host 
*/__pycache__/*
*/ext_metadata.json
*csv
*xml
*xrt.run_summary
build_dir.hw.xilinx_u280_xdma_201920_3
vivado_pid*
src/hls_output
hls_output
*csv
xclbin
./xclbin
./xclbin/*
.run/*
TempConfig 
system_estimate.xtxt 
*.rpt
*.protoinst 
*.xo.*
_v++_* 
.Xil 
emconfig.json 
dltmp* 
xmltmp* 
*.log 
*.jou
./xclbin
_x/*
_x.*
*.wcfg
*.wdb
*.protoinst
_x.*
.ipcache
hls_output
entire_accelerator_final_Deep_M16_queue_*
entire_accelerator_final_SIFT_M16_queue_*
entire_accelerator_final_SBERT_M64_2_channels_*
entire_accelerator_final_SBERT_M64_3_channels*
